.HeaderMain h1 {
  max-width: 1190px;
  width: 100%;
  font-size: 27px;
  margin: 0;
  padding: 5px 0;
  font-weight: bold;
}
.HeaderMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e23734;
  color: #f3f4f4;
  margin: 0 auto;
  position: sticky;
  top: 40px;
  z-index: 9;
}
.lastAdded {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  background-color: #f3f4f4;
  box-shadow: 16% rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
.lastAdded h3 {
  font-size: 24px;
  font-weight: bold;
}
.bottomNewsCardTitle a {
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .HeaderMain {
    justify-content: center;
  }
}
@media screen and (max-width: 580px) {
  /* .bottomNewsCard {
    flex-direction: column;
    width: 200px;
  } */
  .HeaderMain {
    align-items: center;
    justify-content: center;
  }
  .bottomNewsCardTitle {
    font-size: 18px;
  }
  .HeaderMain h1 {
    font-size: 20px;
  }
  .cardMore a {
    font-size: 8px;
  }
  .cardDate p {
    font-size: 8px;
  }
  .bottomNewsCardTitle a {
    font-size: 12px;
  }
}
