.HeaderMain h1 {
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0;
}
.HeaderMain {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: auto;
}
.lastAdded {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  background-color: #f3f4f4;
  box-shadow: 16% rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: auto;
}
.lastAdded h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.bottomNewsCardTitle a {
  font-size: 14px;
}

@media screen and (max-width: 580px) {
  .bottomNewsCard {
    flex-direction: column;
    width: 200px;
  }
  .bottomNewsCardTitle {
    font-size: 18px;
  }
  .HeaderMain h1 {
    font-size: 20px;
  }
  .cardMore a {
    font-size: 8px;
  }
  .cardDate p {
    font-size: 8px;
  }
  .bottomNewsCardTitle a {
    font-size: 12px;
  }
}
