/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .hero-box-1,
  .hero-box-2 {
    height: 200px !important;
  }

  .size-a {
    padding-bottom: 0px !important;
    padding-top: 12px !important;
    padding-right: 6px !important;
  }

  .size-b {
    padding-top: 12px !important;
    padding-left: 6px !important;
  }
}

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .nav-link {
    padding-left: 10px !important;
  }

  .navbar-collapse {
    padding-top: 20px;
  }

  #searchForm {
    width: 90%;
  }
}

/*`xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
}
