* {
  margin: 0;
  padding: 0;
}
.breadCrumbs {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1190px;
  margin: auto;
  padding: 20px 0 0 0;
}
.breadCrumbs i {
  margin: 0 5px;
  font-size: 10px;
  padding: 10px;
  color: #a0a0a0;
}
.breadCrumbs a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #a0a0a0;
}
.breadCrumbs a:last-child {
  color: #313131;
  font-weight: bold;
}

.detailMain {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
.textMain {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.textSection {
  display: flex;
  /* 
  justify-content: center;
  align-items: center; */
}
.textTitle {
  max-width: 790px;
  margin-top: 10px;
}
.textTitleShort {
  padding: 0 100px 0 0;
  font-size: 28px;
  font-weight: 400;
  max-width: 790px;
}
.writerImg {
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.writeImg img {
  position: relative;
  object-fit: cover;
  width: 100%;
}

.writerDate p {
  color: #a0a0a0;
  padding: 5px;
}
.writerDate a {
  color: #e23734;
  font-weight: bolder;
}
.writerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.writerInfo span {
  color: #e23734;
  font-weight: bolder;
  padding: 5px;
  margin-bottom: 5px;
}
.writerInfo p {
  color: #a0a0a0;
  margin-bottom: 0;
}
.writerMail a {
  color: #a0a0a0;
  margin-top: -10px;
  margin-left: 5px;
}
.writerStatics {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.writerStatics p {
  margin: 0;
}
.writerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.writerIcons a {
  color: #e23734;
  font-weight: bold;
  padding: 5px;
}
.IconView {
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}
.IconView p {
  font-size: 12px;
  padding: 5px;
}
#circle {
  font-size: 6px;
  padding: 2px 7px 0 7px;
  align-items: center;
  justify-content: center;
}
.IconsColor {
  display: flex;
  color: #313131 !important;
}
.IconsColor i {
  padding: 7px;
}
.writerBottomSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #bebcbc;
}
.writerBottomRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.share {
  padding: 10px;
  color: #a0a0a0;
}
.shareIcons {
  padding: 10px;
}
.shareIcons i {
  padding: 2px;
}
.zoomer {
  background-color: #eeeeee;
  color: #a0a0a0;
  padding: 5px 7px;
}
.zoomer i {
  padding: 3px 7px;
}
.textTitle h3 {
  font-size: 40px;
  font-weight: bold;
  margin-top: -10px;
}
.writerSection {
  display: flex;
  width: 790px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid red;
}
.writerDetails {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}
.writerDate {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.writerInfo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.writerMail {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.newsText {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.OtherInfo p {
  color: #c9c9c9;
}
.newsText p {
  font-size: 20px;
  font-weight: 400;
  color: #313131;
}
.newsText span {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
}
.newsTextImg {
  margin: 10px 20px 10px 0;
  width: 100%;
}
.newsTextImg img {
  position: relative;
  object-fit: cover;
  width: 100%;
}
.SectionOne {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.writerOtherText {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 400px;

  right: 0px;
}
.writerOtherTextHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  background-color: #eeeeee;
  border: 1px solid #dcdcdc;
  font-weight: bolder;
}
.writerOtherText ul {
  list-style: none;
  padding: 20px;
  width: 260px;
}
.writerOtherText li {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
}
.otherTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c9c9c9;
}
.otherTitle i {
  color: #e23734;
}
.otherTitle h4 {
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 20px;
}
.stickyAbout {
  background-color: #f3f4f4;
  color: #a0a0a0;
  display: flex;
  width: fit-content;
  padding: 20px;
}
.stickyAbout a {
  margin: 5px;
}
.commitSection {
  display: flex;
  border-bottom: 1px solid #a0a0a0;
}
.commitSection p {
  color: #313131;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
}
.commitSection span {
  color: #bebcbc;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
}
.commitText {
  display: flex;
  padding: 20px;
}
.userImg {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.userImg i {
  font-size: 30px;
}
.userNameAndDate {
  display: flex;
  padding: 10px 20px;
}
.userNameAndDate span {
  margin-left: 10px;
  color: #a0a0a0;
}
.userCommit {
  padding: 10px 20px;
}
.answer {
  padding: 10px 20px;
}
.answer button {
  background-color: inherit;
  border: none;
  color: #e23734;
  font-weight: bolder;
}
.formCommit {
  padding: 20px;
}
.otherTextHeader {
  border-top: 1px solid #bebcbc;
  /* border-bottom: 1px solid #bebcbc; */
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #111;
  color: #fff;
}
.otherTextSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  /* background-color: #111; */
}
.otherTextCardImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.otherTextCardImg .otherTextCards {
  width: 500px;
  padding: 10px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}
.otherTextCardHeader {
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin-bottom: 20px;
}
.otherTextCardHeader span {
  color: #e23734;
  margin: 0 10px;
}
.otherTextCardHeader h6 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
.otherTextCardHeader p {
  color: #fff;
  margin: 0;
}
.otherTextTitle {
  margin-bottom: 20px;
}
.otherTextTitle h5 {
  color: #fff;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.otherDetails {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding: 10px 0;
}
.otherDetails a {
  color: #e23734;
}
.otherDetails p {
  color: #fff;
}

@media screen and (max-width: 1800px) {
  /* .writerOtherText {
    top: 500px;
    right: 300px;
    width: 20%;
  } */
}
@media screen and (max-width: 1500px) {
  /* .writerOtherText {
    right: 200px;
  } */
}
@media screen and (max-width: 1300px) {
  .textMain {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .textTitle {
    text-align: center;
  }
  .textTitleShort {
    text-align: center;
    padding: 0;
  }
  .textSection {
    flex-direction: column;
  }
  .writerOtherText {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
  .writerOtherText ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
  }
  .writerOtherText li {
    display: flex;
    width: 100%;
    padding: 10px;
  }
  .newsTextImg {
    margin: 10px;
  }
  .otherTitle {
    align-items: center;
  }

  .stickyAbout {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .otherTextSection {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .newsText {
    width: 100%;
  }
  .breadCrumbs {
    align-items: center;
    justify-content: center;
  }
  .writerSection {
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 100%;
  }
  .newsText p {
    padding: 0 10px;
  }
  .writerImg {
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .detailMain {
    max-width: none;
    width: 100%;
  }
  .zoomer {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  .breadCrumbs a {
    font-size: 12px;
  }
  .breadCrumbs i {
    font-size: 12px;
  }
  .textTitle h3 {
    font-size: 20px;
  }
  .newsText p {
    font-size: 12px;
  }
  .newsText span {
    font-size: 14px;
  }
  .textTitleShort p {
    font-size: 18px;
  }
  .writerDate p {
    font-size: 12px;
  }
  .writerDate a {
    font-size: 12px;
  }
  .writerInfo p {
    font-size: 12px;
  }
  .writerInfo span {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .writerMail a {
    font-size: 12px;
  }
  .writerSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .writerDate {
    justify-content: space-around;
  }
  .writerInfo {
    align-items: center;
    justify-content: center;
  }
  .writerMail {
    justify-content: center;
    align-items: center;
  }
  .writerStatics {
    flex-direction: column;
  }
  .writerBottomSection {
    flex-direction: column;
  }
  .share a {
    font-size: 10px;
  }
  .shareIcons i {
    font-size: 8px;
  }
  .IconsColor i {
    font-size: 8px;
  }
  .IconView {
    font-size: 8px;
  }
  #circle {
    font-size: 3px;
  }
  .writerIcons a {
    font-size: 8px;
  }
  .writerDate p {
    font-size: 8px;
  }
}
