.WritersMain {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.writerCard {
  display: flex;
  border: 1px solid #eeee;
  padding: 40px;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 10px;
}
.writerCardImg {
  padding: 10px;
}
.writerCardImg img {
  position: relative;
  object-fit: cover;
}
.writerCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.writerCardInfo h4 {
  font-size: 14px;
  font-weight: bold;
  color: #313131;
}
.writerCardInfo span {
  font-size: 16px;
  color: #cb3727;
  font-weight: normal;
  word-wrap: break-word;
  width: 150px;
}
.writerCardInfo p {
  font-size: 12px;
  color: #b5b5b5;
  margin: 0;
  display: flex;
  word-wrap: break-word;
  width: 150px;
  margin-right: 50px;
}
@media screen and (max-width: 760px) {
  .writerCard {
    width: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .writerCardInfo {
    align-items: center;
    justify-content: center;
  }
  .writerCardInfo span {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .writerCardImg {
    padding: 0 0 10px 0;
  }
}
